<div class="modal fade" #modalElement [id]="id" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="handleCancel()"></button>
      </div>
      <div class="modal-body">
        <ng-content> 
          <!-- DYNAMIC CONTENT RENDERED HERE-->
        </ng-content>
      </div>
      
      <!-- MODAL FOOTER (OPTIONS) -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="handleCancel()">
          {{ cancelButtonText }}
        </button>
        <button type="button" class="btn btn-primary" (click)="handleConfirm()">
          {{ confirmButtonText }}
        </button>
      </div>

    </div>
  </div>
</div>